/.vs/DivineCodex/FileContentIndex/741851f1-dad3-4fbc-8e1d-1069d700ee0c.vsidx
/.vs/DivineCodex/FileContentIndex/8b874581-42ed-4817-9262-aa634acfd580.vsidx
/.vs/DivineCodex/FileContentIndex/d6352a1b-7f5b-4976-b55f-f5cdbf9ddb41.vsidx
/.vs/DivineCodex/FileContentIndex/86ca689b-af40-40c2-9510-0c931aa1f225.vsidx
/.vs/DivineCodex/FileContentIndex/3e685caf-2a06-483e-9029-33c354e3c6fd.vsidx
/.vs/DivineCodex/FileContentIndex/c186ee7e-ec44-4878-bae6-245b275e0262.vsidx
/.vs/slnx.sqlite
/.vs/DivineCodex/FileContentIndex/298f5e19-e569-4b98-86bb-09eff15a30fb.vsidx
/.vs/DivineCodex/FileContentIndex/dd4a86aa-9e44-45f6-a58b-cc4633e25a60.vsidx
/.vs/DivineCodex/FileContentIndex/7c266b81-38f4-4913-b9a2-f65092bc1f9e.vsidx
/.vs/DivineCodex/FileContentIndex/b07e6eda-e84d-4680-8837-2617215f3d12.vsidx
/.vs/DivineCodex/FileContentIndex/bf472281-bfe7-4f28-b049-d32c05b244e8.vsidx
/.vs/DivineCodex/FileContentIndex/fed98c19-5b42-436a-94dd-11de8dac587b.vsidx
/.vs/DivineCodex/v17/.futdcache.v2
/.vs/ProjectEvaluation/divinecodex.metadata.v9.bin
/.vs/ProjectEvaluation/divinecodex.projects.v9.bin
/.vs/ProjectEvaluation/divinecodex.strings.v9.bin
