/.vs/DivineCodex/FileContentIndex/741851f1-dad3-4fbc-8e1d-1069d700ee0c.vsidx
/.vs/DivineCodex/FileContentIndex/8b874581-42ed-4817-9262-aa634acfd580.vsidx
/.vs/DivineCodex/FileContentIndex/d6352a1b-7f5b-4976-b55f-f5cdbf9ddb41.vsidx
/.vs/DivineCodex/FileContentIndex/86ca689b-af40-40c2-9510-0c931aa1f225.vsidx
/.vs/DivineCodex/FileContentIndex/3e685caf-2a06-483e-9029-33c354e3c6fd.vsidx
/.vs/DivineCodex/FileContentIndex/c186ee7e-ec44-4878-bae6-245b275e0262.vsidx
/.vs/slnx.sqlite
/.vs/DivineCodex/FileContentIndex/298f5e19-e569-4b98-86bb-09eff15a30fb.vsidx
/.vs/DivineCodex/FileContentIndex/dd4a86aa-9e44-45f6-a58b-cc4633e25a60.vsidx
/.vs/DivineCodex/FileContentIndex/7c266b81-38f4-4913-b9a2-f65092bc1f9e.vsidx
/.vs/DivineCodex/FileContentIndex/b07e6eda-e84d-4680-8837-2617215f3d12.vsidx
/.vs/DivineCodex/FileContentIndex/bf472281-bfe7-4f28-b049-d32c05b244e8.vsidx
/.vs/DivineCodex/FileContentIndex/fed98c19-5b42-436a-94dd-11de8dac587b.vsidx

/.vs/DivineCodex/FileContentIndex/19066b71-3290-4c8a-bbff-99ad38af9942.vsidx
/.vs/DivineCodex/FileContentIndex/3e636d75-c0f2-41b3-b675-c725222226af.vsidx
/.vs/DivineCodex/FileContentIndex/4b4ee794-e8c7-4b04-bd24-2c3cc2bf6fc5.vsidx
/.vs/DivineCodex/FileContentIndex/5dc38eb4-643a-402c-9d93-e026e3f015a5.vsidx
/.vs/DivineCodex/FileContentIndex/5f6e6dfa-f478-4882-8bbc-a4476d25da54.vsidx
/.vs/DivineCodex/FileContentIndex/a38e934b-d2f6-4655-8b87-7ae0372a5247.vsidx
/.vs/DivineCodex/FileContentIndex/ce6530c8-e197-4648-9e8c-b49e0b03502e.vsidx
/.vs/DivineCodex/FileContentIndex/e2bb5b0f-6b23-49cd-bb82-f418af277433.vsidx
/.vs/ProjectEvaluation/divinecodex.metadata.v9.bin
/.vs/ProjectEvaluation/divinecodex.projects.v9.bin
/.vs/ProjectEvaluation/divinecodex.strings.v9.bin
/DivineCodex/obj/Debug/net8.0/DivineCodex.AssemblyInfo.cs
/DivineCodex/obj/Debug/net8.0/DivineCodex.AssemblyInfoInputs.cache
/DivineCodex/obj/Debug/net8.0/DivineCodex.assets.cache
/DivineCodex/obj/Debug/net8.0/DivineCodex.csproj.AssemblyReference.cache
/DivineCodex/obj/Debug/net8.0/DivineCodex.GeneratedMSBuildEditorConfig.editorconfig
/DivineCodex/obj/DivineCodex.csproj.nuget.dgspec.json
/DivineCodex/obj/DivineCodex.csproj.nuget.g.props
/DivineCodex/obj/project.assets.json
/DivineCodex/obj/project.nuget.cache
